#virtual environment
.venv/
/mttenv/
/.idea/
/utils/__pycache__/

#mettete in "data/" i dati che non volete siano condivisi con tutti (robe vostre
/data/

audio/detected_audio.wav
filtered_audio.wav

/test_results/
